
@model GoalsPerDay
@{
    ViewData["Title"] = "Найбільше голів";
}

<div class="text-center">

    <div>
        <p>Максимально м'ячів забито @Model.CountOfGoals, дата @Model.Date.ToShortDateString()</p>
    </div>

</div>